{% extends 'base.html.twig' %}


{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container mx-auto my-auto">
            <h1 class="display-1">Add Product Page</h1>
        </div>
    </div>


{% endblock %}