{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Product {{ product_name }}  Order Details</h1>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for orderDetail in orderDetails %}
                    <tr>
                        <th scope="row">{{ orderDetail.id }}</th>
                        <td>{{orderDetail.createdAt |date}}</td>
                        <th>{{ orderDetail.quantity }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}